{% extends 'account/base.html' %}
{% block content %}
<main class="container">
    <div class=" h-100 justify-content-center my-auto text-center">
        <h1 class="fw-normal mt-5 pt-5">slyde</h1>
        <p class="lead">keep the convo <strike>personal</strike> private!</p>
    
        <div class="d-flex-row">
            <div class="flex-col my-3">
                <a class="btn btn-sm btn-outline-dark mx-1" href="{% url 'login' %}" role="button">login</a>
                <a class="btn btn-sm btn-outline-dark mx-1" href="{% url 'signup' %}" role="button">signup</a>
            </div>
            <div>
                <a class="btn btn-sm btn-outline-dark mx-1" href="{% url 'settings' %}" role="button">generate random room</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}
