{% extends 'account/base.html' %}
{% load static %}
{% block stylesheet %}
<link href="{% static 'chat/dashboard.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky sidebar-sticky  pb-5 mb-5">
          <ul class="nav flex-column">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">
                      <span data-feather="home" class="align-text-bottom"></span>
                      <strong>Rooms: </strong>
                  </a>
              </li>
              {% if rooms %}
              {% for room in rooms %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'room' room_id=room.room_id %}">
                      <span data-feather="file" class="align-text-bottom"></span>
                      {{room.name}}
                  </a>
              </li>
              {% endfor %}
              {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="#">
                      <span data-feather="file" class="align-text-bottom"></span>
                      <strong>No rooms yet </strong>
                  </a>
              </li>
              {% endif %}
              
              <br><br><br><br>
          </ul>

          </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-5 my-4 ">
      <!-- contain chat bubble -->

          <div class="d-flex flex-row justify-content-start">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
              <div>
                  <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Hi</p>
                  <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">welcome to Slyde
                  </p>
                  <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;"><strong>click here 👇</strong> to create new room </p>
                  <p class="small ms-3 mb-3 rounded-3 text-muted">23:58</p>
              </div>
          </div>

          
          <div class="d-flex flex-row justify-content-end mb-4 pt-1">
              <div>
                  <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">that's all for now! </p>
                  <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">the rest of this convo is irrelevent ...</p>
                  <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">I kn3w you would indulge 😛</p>
                  <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:06</p>
              </div>
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
          </div>

          <div class="d-flex flex-row justify-content-start">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
              <div>
                  <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">now that i have you here!</p>
                  <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">let me tell you about the light at the end of the tunnel
                  </p>
                  <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">many got lost searching for it😵, <strong>bring a torch!🔥</strong></p>
                  <p class="small ms-3 mb-3 rounded-3 text-muted">23:58</p>
              </div>
          </div>
          

  <!-- chat bubble end -->
      </main>
  </div>
</div>
  
{% endblock %}
{% block scripts %}
<script src="{% static 'chat/dashboard.js' %}"></script> 
{% endblock %}